/* .parallaxcontact { */

  /* background-image: url("../forestpara.jpg"); */
  /* min-height: 250px;  */
  /* background-attachment: fixed; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* margin-top:100px; */
  
/* } */

.blocktexte {
	
margin-top:100px;	
margin-bottom:50px;
background-color:white;
padding:15px;
border-radius:15px;
}

.main {
background : url(../4.jpg) fixed ;
background-size: cover;
background-position:center;
}

#titre h1 {

font-style: normal;
font-weight: 600;
margin: 0 auto 0px auto;
text-align: center;
font-size: 25px;
position: relative;
color:RGB(219,161,160);
text-transform: uppercase;
letter-spacing: 1.8px;


}

#texte p {

text-align: center;
font-size: 16px;
font-style: normal;
padding-top:30px;
/* color: white; */

}

.imagedroite {
width:20%;
/* position: relative; */
margin-left:69px;
}

.imagegauche {
width:20%;
/* position: relative; */
margin-right:69px;
}	

.pcontact  {
	width:700px;
	margin:auto auto 100px;
	
}

	
	


/** MA PAGE */
/* @extend display-flex; */
display-flex, .signup-content, .form-row, .label-flex{
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli/*, ul*/ {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
* {
	margin: 0;
	padding: 0;

}


@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important; }



figure {
  margin: 0; 
  }


.g-recaptcha {
	margin-top:30px;
}

.clear {
  clear: both; }

.main {
width:100%;
margin-top:80px;
display: flex;
 }

.other-group {
	margin: auto;
	margin-top:;
}

.app-form-group p{
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 7px;
	font-weight:bold;
}

.container_form {
  width: 700px;
  background: #fff;
  margin:auto;
  border-radius:15px;
  
  }

.signup-img {
  position: relative;
  width: 385px;
  margin-bottom: -8px; }

.signup-form {
  width: 700px;
  margin-top: -2px; 
  margin: auto;
  }



.register-form {
  margin-bottom: -8px; 
  }

.form-row {

 }
 
.form-row .form-group {
	margin: 50px auto;
    padding: 0 30px; 
}

.form-input {
  margin-bottom: 23px; 
}

input {
  display: block;
  width: 100%; 
}

label {
  
  text-transform: uppercase;
  letter-spacing:1.8px;
  margin-bottom: 7px;
}

label.required {
  position: relative; 
}

label.required:after {
content: '*';
margin-left: 2px;
color: #b90000; 
}

input {
  box-sizing: border-box;
  border: 1px solid RGB(219,161,160);
  padding: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 14px;

  }
  
  input:focus {
    border: 1px solid grey; 
	}


.form-link {
  font-size: 12px;
  color: #222;
  text-decoration: none;
  position: relative; 
 }
 
  .form-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #d7d7d7;
    left: 0;
    bottom: 12px; }

.co {
margin-left:270px;
font-size: 11px;
margin-top:5px;
}

.form-submit {
	margin-top:40px;
  /* margin-bottom:200px; */
  text-align: center; 
  margin-right:310px;
  }

.submit {
  width: 140px;
  height: 40px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; 
  position:right;
  
 }

#submit {
  background: #61ce70;
  color: #fff;
  font-style: inherit;
  position:right;
  }
  
  #submit:hover {
    background-color: #267747; }

.form-input {
  position: relative; }

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0; }
  label.error:after {
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    content: '\f1f8';
    right: 20px;
    top: 37px;
    font-size: 23px;
    color: #c70000; }

input.error {
  border: 1px solid #c70000; }


/* @media screen and (max-width: 1024px) { */
  /* .container_form { */
    /* width: calc( 100% - 30px); */
    /* max-width: 100%; */
    /* margin: 0 auto; } */

  /* .signup-img { */
    /* display: none; } */

  /* .signup-form { */
    /* width: 100%; } */

  /* .register-form { */
    /* padding: 93px 80px 90px 80px; } } */
/* @media screen and (max-width: 992px) { */
  /* .signup-content { */
    /* width: 100%; } */

  /* .register-form { */
    /* padding: 93px 30px 90px 30px; } } */
/* @media screen and (max-width: 768px) { */
  /* .form-row { */
    /* flex-direction: column; */
    /* -moz-flex-direction: column; */
    /* -webkit-flex-direction: column; */
    /* -o-flex-direction: column; */
    /* -ms-flex-direction: column; */
    /* margin: 0px; } */

  /* .form-row .form-group { */
    /* width: 100%; */
    /* padding: 0 0px; } } */
/* @media screen and (max-width: 480px) { */
  /* .submit { */
    /* width: 100%; } */

  #submit {
    margin-bottom: 20px;
    margin-right: 0px; }
}

/*# sourceMappingURL=style.css.map */
