body {
  background-color: #EFEFEF;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #51aeed;
  border-radius: 10px;
}

.button1:hover {
  background-color: #51aeed;
  color: white;
}

.navbbar {
  overflow: hidden;
  background-color: white;
  width: 1300px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #C8C8C8;
  margin-bottom: 50px;
}

.navbbar a {
  float: left;
  font-size: 16px;
  color: #51aeed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdoown {
  float: left;
  overflow: hidden;
}

.dropdoown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #51aeed;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  margin: 0;
}

.navbbar a:hover, .dropdoown:hover .dropbtn {
  background-color: #51aeed;
  color: white;
}

.dropdoown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdoown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdoown-content a:hover {
  background-color: white;
  color: #51aeed;
}

.dropdoown:hover .dropdoown-content {
  display: block;
}

a.activee {
  background-color: #51aeed;
  color: white;
}

.btnpro {
  font-size: 16px;
  margin: 0;
  margin-top: 9px;
  float: right;
  margin-right: 10px;
  padding: 4px 5px 4px 10px;
  background-color: #61ce70;
  color: white;
  border: none;
  border-radius: 3px;
}

.areamdp {
  background-color: white;
  width:  1300px;
  height:   auto;
  border: none;
  margin: auto;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.infos {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}

