/* .pageprojet { */
/* width:1170px; */
/* margin:auto;	 */
/* } */

.ourpro {
	width: 1170px;
	height: 500px;
	margin: auto;
}

#divLeft {
	/*background: red;*/
	width: 44%;
	/*height: 1000px;*/
	float: left;
}

.description p{
	font-size:16px;
}

.divRight{
	/* margin-top:10%; */
	margin-top:3%;
}

.txt-desc {
	font-size: 20px;
	margin: 50px 50px 50px 50px;

}

.memeligne{
	display:flex;
	margin-top:5em;
}

#divRight {
	/*background: blue;*/
	width: 55%;
	/*height: 1000px;*/
	float: left;
	padding-left: 20px;
	margin-left: 	10px;
}

.logo{
	 /* display: inline-block; */
	margin-top:2em;
	font-size:1.2em;
	margin-left:20px;
	float:left;
}

.logo2 p{
	 padding-right: 10px;
	 padding-top: 5px;
	 /* margin-left:-1.75em; */
	 display:inline-block;
	 
}


.logo2 p {
	 display: inline-block;
}

.logo2{
	justify-content:center;
	text-align:center;
	align-items:center;
	margin-left:50px;
	margin-top:5px;
}

form{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:100%;
}

.imgau {
	width: 35em;
	float: left;
	/* height:10%; */
	border-radius:5px;
	margin-top:7%;

}

.pm-2 {
	font-size: 25px;
}

.arec {
	font-weight: bold;
	font-size: 40px;
}

.test1, .jres {
	display: inline;
}

.jres {
	margin-left: 6px;
	font-size: 20px;
	font-weight: bold;
}

.tstr, .asure {
	/* display: inline; */
}

.tstr {
	font-weight: bold;
	font-size: 16px;
}

.asur {
	padding-left: 2px;
	margin-left:-15px;
	/* display:inline-block; */
}
.txtgr, .tentacles {
	display: inline;
}
.txtgr {
	font-weight: bold;
	font-size: 16px;
	margin-left:5px;
}

.tentacles {
	text-align: center;
	border-radius: 5px;
	padding: 14px 10px;
	border: 1px solid;

}





.fa-users{
	text-align:center;
	border:2px;
}

.imgd {
	float: right;
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 2px;
}

.infosavancementpro {
  margin-left: 30px;
  border: solid 1px black;
  /*background: blue;*/
  width: 20%;
  /*height: 1000px;*/
  padding-top: 10px;
  height: auto;
  float: left;
  border-radius: 3px;
  margin-bottom: 50px;
}

.imgdrt {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.soutenir {
	width: 270px;
	/* margin: 0 auto; */
}


.txt-label-infoauteur {
	text-align:  center;
	color: black;
	font-family:  "Calibri";
	font-size: 20px;
}
.descaut {
  padding: 10px;
  width: 100%;
  height: auto;
  margin: auto;
}



.imgarea-2 {
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	border: solid black 1px;
	padding: 2px; 
}

.file {
	width: 500px;
	height: 15px;
}



.styled {
	height: 42px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(97, 206, 112, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(97, 206, 110, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}





.global {
    
	display: inline-block;
	width: 100%;
	height: auto;
}




input[type=submit] {
    background-color: #51aeed;
    color: white;
    padding: 14px 10px;
    border: 1px solid;
    cursor: pointer;
    width: 50%;
	transition: background-color 150ms ease-in-out 0s, color 100ms ease-in 0s;
	transition-property: background-color, color;
    transition-duration: 150ms, 100ms;
    transition-timing-function: ease-in-out, ease-in;
    transition-delay: 0s, 0s;
	/* display: block; */
	margin : auto;
	margin-top:15px;
	/* margin-bottom:10px; */
	border-radius:10px;
	display:inline;
	/* margin-left:5px; */
	height:3.75em;
	
}
input[type=submit]:hover {
    opacity: 75%;
	color:white;
}


.montant-contr {
	font-size: 22px;
}



/* MATTEO */

.Ttdesc {
	padding-left: 40px;
}

.traitzebi{
width: 100%;
border: 1px RGB(219,161,160) solid;
}

.glbtxtarea {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.txtarea {
  /*background: red;*/
  border: solid 1px black;
  width: 94%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 3px;
  padding: 10px;
}

.imgarea {
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 2px; 
}

 .lbl-contr {
	text-align: center;
	color: black;
	font-family:  "Calibri";
	font-size: 20px;
}

.conteneure {
	margin: auto;
	width: 94%;
	height: auto;
	margin-bottom: 50px;
}

.oneline {
 width: 200px;
 height: auto;
 border: solid 1px #ccc;
 display: inline-block;
}

.contrepartie {
	margin: auto;
	border-radius: 3px;
	width: auto;
	height: auto;
	margin-bottom: 2px;
	padding-bottom: 10px;
}

.mtn-contr {
	margin-top:  25px;
	margin-left: 15px;
	font-size: 20px;
}

.lbl-txt {
	padding-left: 15px;
	font-size: 20px;
}

.sous-texte {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  width: auto;
  height: 40px;
  padding: 5px 10px 5px 10px;
  float: left;
  background-color: white; 
  color: black; 
  border: 2px solid #51aeed;
  border-radius: 10px;
  margin-left: 10%;
}

.button1:hover {
  background-color: #51aeed;
  color: white;
  transition: 0.5s;
}

.ELLEESTGLOBAL {
	width: 1170px;
	margin: auto;
}


.hero{
	width:100%;
	height:450px;
	position:relative;
	margin:100px auto;
	overflow:hidden;
}

.btn-box{
	display:flex;
	border-bottom:1px solid #ccc;
}

.btn-box button{
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	padding:14px 16px;
	margin-right:50px;
	font-size:20px;
	font-weight:bold;
}

.btn-box .fas{
	margin-right:20px;
	
}

.btn-box button:hover .fas{
	color: #51aeed;
}

.content-right img{
	width:350px;
	/* margin-top:30px; */

}

.content{
	display:flex;
	justify-content:center;
	/* text-align:center; */
	/* align-items:center; */
	margin:7% auto;
	position:absolute;
	transform:translateX(100%);
	transition:0.3s;
	width:100%;
}

.content-left{
	flex-basis:50%;
	margin-top:-20px;
}

.content-left p{
	font-size:13px;
	padding:30px 0;
	
}

.content-left a{
	width:150px;
	display:block;
	padding:8px 5px;
	border-radius:20px;
	text-decoration:none;
	background-color:#51aeed;
	color:#fff;
	text-align:center;
}

.content-right{
	flex-basis:50%;
	text-align:center;
	/* float:right */
}

#content1{
	transform:translateX(0px);

}

#btn1{
	color: #51aeed;
}

.square{
	height:17em;
	width:18em;
	border:solid 1px #ccc ;
	border-radius:3px;
	/* background-color:linen; */
	margin-right:10px;
	padding: 15px;

}

.square h2{
	margin-bottom:25px;
	/* font-weight:500; */
}

.square .button1{
	margin:auto;
	margin-top:15px;
}

.square h5{
	font-weight:100;
}

.squareglo{
	display: flex;
	flex-direction: row;
	/* width:100%; */
}
